@font-face {
    font-family: "Satoshi";
    src: url("./797e433ab948586e-s.p.dbea232f.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  

@tailwind base;
@tailwind components;
@tailwind utilities;

